.boardColumn {
  transition: transform .2s ease-in-out, margin .2s ease-in-out, box-shadow .2s ease-in-out, flex-basis .2s ease-in-out;
}

.boardColumn input {
  pointer-events: none;
}

.boardColumn > div {
  transition: transform .2s ease-in-out, margin .2s ease-in-out, box-shadow .2s ease-in-out, flex-basis .2s ease-in-out;
  overflow-y: auto;
}

.onDragging * {
  pointer-events: none;
}

.onDragOver {
  flex-basis: calc(280px + 7em) !important;
}

.onDragOver > div {
  box-shadow: 0 1em 1em gray;
}

.onDragOverLess > div {
  transform: perspective(1000px) rotateY(-5deg);
  margin-left: 7em;
}

.onDragOverMore > div {
  transform: perspective(1000px) rotateY(5deg);
  margin-right: 7em;
}