.boardColumn {
  transition: .2s ease-in-out;
}

.boardColumn input {
  pointer-events: none;
}

/*.boardTask *:not(.boardTask > div, .boardTask > div *) {
  pointer-events: none;
}*/

.onDragging * {
  pointer-events: none;
  /*background-color: #ff5722 !important;*/
}

.onDragOver {
  box-shadow: 0 1em 1em gray;
  /*margin-top: 3em;*/
}