.boardTask {
  transition: transform .2s ease-in-out, margin .2s ease-in-out, box-shadow .2s ease-in-out;
}

.boardTask input {
  pointer-events: none;
}

.boardTask > div {
  transition: transform .2s ease-in-out, margin .2s ease-in-out, box-shadow .2s ease-in-out;
}

.onDragging * {
  pointer-events: none;
}

.onDragOver > div {
  box-shadow: 0 1em 1em gray;
  margin-top: 5em;
  transform: perspective(1000px) rotateX(15deg);
}